{% extends "admin/base.html" %}

{% block title %}{{ super() }} - Menu: New{% endblock %}

{% block page_content %}

    <form role="form" id="menu-form" method="POST" action="{{ url_for('.add_menu') }}">
        <div class="form-group">
            {{ form.name.label(class="control-label") }}
            <div class="input-group">
                {{ form.name(class="form-control") }}
                {{ form.csrf_token }}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Save</button>
                </span>
            </div>
            {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li class="small">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </form>

{% endblock %}