{% extends "admin/base.html" %}

{% block title %}{{ super() }} - Blog Categories{% endblock %}

{% block page_content %}

    <div class="row page-header">
        <div class="col-md-8">
            <h1>Blog Categories</h1>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('.add_blog_category') }}" class="btn btn-primary pull-right">
                <i class="fa fa-plus"></i>Add
            </a>
        </div>
    </div>


    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories.items %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.created_on|datetime }}</td>
                    <td>
                        <a href="{{ url_for('.edit_blog_category', category_id=category.id) }}" class="btn btn-primary">
                            <i class="fa fa-edit"></i>Edit
                        </a>
                        <a href="{{ url_for('.delete_blog_category', category_id=category.id) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pager">
            <li class="next {{ 'disabled' if not categories.has_prev else '' }}">
                {% if categories.has_prev %}
                    <a href="{{ url_for('.blog_categories', page=categories.prev_num) }}">Next <span aria-hidden="true">&rarr;</span></a>
                {% else %}
                    <a>Next <span aria-hidden="true">&rarr;</span></a>
                {% endif %}
            </li>
            <li class="previous {{ 'disabled' if not categories.has_next else '' }}">
                {% if categories.has_next %}
                    <a href="{{ url_for('.blog_categories', page=categories.next_num) }}"><span aria-hidden="true">&larr;</span> Previous</a>
                {% else %}
                    <a><span aria-hidden="true">&larr;</span> Previous</a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}